<nav class="main-nav">
    <ul>
        {% assign sorted_page = site.pages | sort: 'order' %}
        {% for navitem in sorted_page %}
        {% if navitem.url != '/feed.xml' %}
        <li {% if page.url == navitem.url %} class="current" {% endif %}>
            <a id="{{ navitem.icon-name }}" href="{{ site.baseurl }}{{ navitem.url }}">
                <span class="title">
                    {% if navitem.url == '/' %}
                    HOME
                    {% else %}
                    {{ navitem.title }}
                    {% endif %}
                </span>
            </a>
            {% if navitem.title == 'Products' %}
            <ul>
                <li><a id="clothes" href="clothes.html">CLOTHES</a></li>
                <li><a id="foods" href="foods.html">FOODS</a></li>
                <li><a id="drinks" href="drinks.html">DRINKS</a></li>
            </ul>
            {% endif %}
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</nav>