<nav class="main-nav">
    <ul>
        {% for page in site.pages %}
        {% if page.url != '/feed.xml' and page.url != '/' %}
        <li>
            <a id="{{ page.icon-name }}" href="{{ site.baseurl }}/{{ page.url }}">
                <span class="title">{{ page.title }}</span>
                <span class="date">{{ page.data | date_to_string }}</span>
            </a>
            {% if page.title == 'Products' %}
            <ul>
                <li><a id="clothes" href="clothes.html">CLOTHES</a></li>
                <li><a id="foods" href="foods.html">FOODS</a></li>
                <li><a id="drinks" href="drinks.html">DRINKS</a></li>
            </ul>
            {% endif %}
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</nav>