.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--sizing-basic-border) solid var(--color-basic-border);
    padding: var(--sizing-ws-base) 0;
}

.site-header h1 {
    margin-bottom: 0;
    background: linear-gradient(to top, #ff7e5f   , #feb47b);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.site-header nav {

}

.site-header nav ul {

}