@import url('reset.css');
@import url('typography.css');
@import url('navigation.css');
@import url('gallery.css');
@import url('site-header.css');
@import url('site-footer.css');

/* Variables  */

:root {
    --color-main-bgrd: rgba(0, 0, 0, 0.8);
    --color-main-text: #fafafa;
    --color-main-link: orange;
    --color-basic-border: #fafafa;

    --sizing-basic-border: 1px;
    --sizing-ws-base: 1.5em;
}

body {
    background: var(--color-main-bgrd);
    color: var(--color-main-text);
    padding: 2em 3em;
    padding-bottom: 0;
}

.site-content {
    padding: 2em 0;
}
