.button {
    display: block;
    background: var(--color-main-link);
    border: 2px solid var(--color-main-link);
    outline: none;
    color: #FFF;
    padding: 0.6em 1.2em;
    border-radius: 0.6em;
    line-height: 1;
    cursor: pointer;
}

.button.button-primary {
    transition: all 0.2s ease-in-out;
}

.button.button-primary:hover {
    background: transparent;
    color: var(--color-main-link);
}

.button.form-button {
    padding: 0.6em 1em;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid var(--color-main-link);
    transition: 0.25s;
}

.button.form-button:hover {
    background: transparent;
    color: var(--color-main-link);
}