.gallery {
    max-width: $maxScreenSize;
    margin: 0 auto;
}

article header h1{
    text-align: center;
}

.gallery ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0;
}

.gallery li {
    flex: 0 1 32%;
    margin: 0 0 var(--sizing-ws-base) 0;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5);
    border-radius: 1em;
    transition: transform 0.25s ease-in-out;
    position: relative;
}

.gallery li::before {
    display: block;
    content: '';
    position: absolute;
    box-shadow: 0 0 1.5em 0 rgba(75, 71, 71, 0.5);
    background: rgba(0, 0, 0, 0.3);
    top: 0; left: 0; bottom: 0; right: 0;
    border-radius: 1em;
    opacity: 0;
    transition: opacity 0.25 ease-in-out;
    cursor: pointer;
}

.gallery li:hover::before {
    opacity: 1;
    z-index: 999;
}

.gallery li:hover {
    transform: scale(1.1);
    z-index: 1;
}

.gallery a {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 1em; 
}

.gallery a::before {
    display: block;
    content: '';
    padding-top: 100%;
}

.gallery img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}