body {
    background: var(--color-main-bgrd);
    color: var(--color-main-text);
}

.site-content {
    padding: var(--sizing-ws-base);
}

.map-wrapper {
    max-width: $maxScreenSize;
    margin: 0 auto;
}

iframe {
    width: 100%;
    margin-bottom: 3em;
    border-radius: 0.5em;
    box-shadow: 0 0 1em 0 rgba(#EEE, 0.3);
}