.site-header {
    border-bottom: var(--sizing-basic-border) solid var(--color-basic-border);
    /* padding: var(--sizing-ws-base); */
}

.site-header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--sizing-ws-base);
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.site-header.banner {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://images.unsplash.com/photo-1507679799987-c73779587ccf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80') no-repeat center top;
    background-size: cover;
}

.site-header.banner::after {
    display: block;
    content: '';
    /* padding-top: calc((9 / 16) * 100%); */
    padding-top: 100vh;
}

.site-header h1 {
    margin-bottom: 0;
    background: linear-gradient(to top, rgb(245, 160, 4), rgb(238, 203, 4));
    text-transform: uppercase;
    letter-spacing: 0.1em;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.site-header a::after,
.site-header a::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
}

.site-header h1 a::before {
    content: '\f3a5';
    font-size: 0.9em;
    padding-right: 0.3em;
}

.site-header #home::after {
    content: '\f015';
}

.site-header #about::after {
    content: '\f2bb';
}

.site-header #contacts::after {
    content: '\f095';
}

.site-header #gallery::after {
    content: '\f302';
}

.site-header #products::after {
    content: '\f0d7';
}

.site-header nav {

}

.site-header nav ul {

}